.Weather {
  border: 1px solid rgba(255, 255, 255, 0.356);
  border-radius: 4px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 30px;
  color: rgb(74, 71, 71);
  background-color: rgba(255, 255, 255, 0.776);
  box-shadow: 5px 5px 12px rgba(82, 80, 80, 0.338);
}

.Weather h1 {
  color: black;
  font-weight: 400;
  font-size: 60px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  padding: 0;
}

.Weather li {
  list-style: none;
  line-height: 23px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 50px;
  color: black;
  line-height: 64px;
  /*position: relative;
  top: 15px;*/
  margin: 0 10px;
}

.Weather .unit {
  color: black;
  font-size: 20px;
  position: relative;
  top: -22px;
}
